.offer__image {
    border-bottom-right-radius: 40px;
    overflow: hidden;
    position: relative;
}

.offer {
    position: relative;
}

.offer__content {
    background: #69F5FF;
    opacity: 0.9;
    padding: 55px 90px 65px 66px;
    position: relative;
    left: -28%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.offer__button {
    background-color: #1C0C4C;
    color: #fff;
    width: 232px;
    height: 42px;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 35px;
    position: relative;
}

.offer__button::after {
    content: "";
    width: 25px;
    height: 25px;
    background-color: #D4C500;
    border-radius: 50%;
    position: absolute;
    right: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.56' height='14.121' viewBox='0 0 8.56 14.121'%3E%3Cpath id='Path_90' data-name='Path 90' d='M4435.1-1865.227l6,6-6,6' transform='translate(-4434.035 1866.287)' fill='none' stroke='%23fff' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E%0A");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}


.offer__image img {
    height: 421px;
    object-fit: cover;
}



@media (max-width: 992px) {
    .offer__content {
        left: 0;
        margin-top: 20px;
    }
}