.navbar-nav .nav-link.nav-link-custom {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.collapse.navbar-collapse.active {
    display: block;
}

.navbar-nav .nav-link.nav-link-custom.active {
    color: #3B89B2;
    position: relative;
}
.navbar-nav .nav-link.nav-link-custom.active::before {
    content: "";
    background-color: #3B89B2;
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -14px;
    left: 1px;
    z-index: 99;
}

@media (max-width: 992px) {
    .navbar-nav .nav-link.nav-link-custom.active::before {
        display: none;
    }
}